@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.logo img {
    width: 200px;
    height: auto;
}

main {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    height: calc(100vh - 220px); /* Subtract header and footer heights */
    display: flex;
    width: 70%;
    background-color: #512da8;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}

.hero > * {
    margin: 0 auto; /* Center content horizontally */
}

.hero h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}
.hero p{
    color: #fff;
}
.hero img {
    width: 100%;
    height: auto;
    max-width: 500px; /* Constrain width for smaller screens */
}

.login-buttons-container {
    margin-top: -90px; /* Adjust spacing as needed */
    background-color: #fff;
    padding: 20px;
   width: 45%;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}
.login-buttons-container h2{
    color: #512da8;
}

.login-buttons {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between; /* Spread buttons evenly */
    gap: 20px;
}

button {
    background-color: #512da8;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Subtle shadow */
    transition: all 0.2s ease-in-out; /* Smooth hover effects */
}

button:hover {
    transform: translateY(-2px); /* Lift on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0,)
}
footer{
    background-color: black;
    color: #fff;
    height: 20px;
}