{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container1">
        <center>
        <h1>SmartSubmitUcp</h1>
        </center>
        <div class="container2">
            <div class="std-div">
                {% comment %} <center> {% endcomment %}
                    <a class="links" href="login_user" >
                        Student
                    </a>
                </center>
            </div>
            <div class="tch-div">
                {% comment %} <center> {% endcomment %}
                    <a class="links" href="login_user" >
                        Student
                    </a>
                </center>
            </div>
            <div class="adm-div">
                {% comment %} <center> {% endcomment %}
                    <a  class="links" href="login_user" >
                        Student
                    </a>
                </center>
            </div>
        </div>
    </div>
</body>
</html>
