{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Name</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/logo.png" alt="Your logo">
        </div>
    </header>
    <main>
        <section class="hero">
            <h1>SmartSubmitUCP</h1>
            <p> SmartSubmitUCP enhances teacher-student communication, fostering a streamlined educational experience.</p>
            
        </section>
            <section class="login-buttons-container">
          <center>  <h2> Login </h2> </center>
            <div class="login-buttons">
               <a href="login_user" > <button class="student">Student Login</button> </a>
               <a href="admin" > <button class="student">Student Login</button> </a>
                <button class="admin">Admin Login</button>
            </div>
        </section>
    </main>
    <center>
    <footer>
        <p>&copy; 2024 SmartSubmitUCP</p>
    </footer>
</center>
</body>
</html>
