{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Profile</title>
  <link rel="stylesheet" href="{% static 'profile.css' %}">
<body>
  <div class="wrapper">
    <nav class="navbar">
      <div class="logo-container">
        <img src="your_logo.png" alt="Logo">
      </div>
      <ul class="nav-menu">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
      <a href="#" class="logout-btn">Logout</a>
    </nav>

    <section class="profile-section">
      <div class="profile-picture">
        <img src="your_user_pic.jpg" alt="User Profile Picture">
      </div>
      <div class="profile-info">
       
<div class="user-details">
    <h2>User Details</h2>
    <p><strong>First Name:</strong>{{  user.first_name }}</p>
    <p><strong>Last Name:</strong>{{  user.last_name }}</p>
    <p><strong>Is_Active:</strong>{{  user.is_active }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Date Joined:</strong> {{  user.date_joined }} </p>
    <p><strong>Last Login:</strong>{{  user.last_login }}</p>
</div>
      </div>
    </section>
  </div>
</body>
</html>
